<p>
      A big thank you goes to
      <b>Blue River Design</b> for creating our brand identity, and
      <b>Hannah Redding</b> for creating some of the icon graphics.
</p>
<p>
      We would also like to thank the following councils for providing park and reserve lists:
      <br/><br/>
      &bull; City of Port Adelaide Enfield<br>
      &bull; City of Tea Tree Gully<br>
      &bull; City of Charles Sturt<br>
      &bull; City of Mitcham<br>
      &bull; Adelaide City<br>
      &bull; Campbelltown City<br>
      &bull; City of Unley<br>
      &bull; City of West Torrens<br>
</p>
